.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item {
  background-color: $main-color;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    transform: scale(2) translateY(-75%) translateX(-75%) rotate(-28deg);
    transition: transform 3s $cubic-bezier;
  }

  // Add overlay color when hovering
  &:hover:after {
    transform: scale(2) translateY(0) translateX(0) rotate(-28deg);
  }

  // Scale the image
  &:hover &-image {
    transform: scale(1.2);
  }

  &-image {
    display: block;
    transform: translateZ(0);
    transition: transform 750ms $cubic-bezier;
    height: auto;
  }

  &-image:before {
    content: "";
    padding-top: 75%;
    display: block;
    overflow: hidden;
  }

  &-image img {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    width: 100%;
    height: auto;
  }

  // Remove Text
  &-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms $cubic-bezier, transform 500ms $cubic-bezier;
    transition-delay: 500ms;
  }

  &:hover &-text {
    opacity: 1;
    transform: translateY(0);
  }

  &-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0;
  }

  &-text-title {
    font-size: 2rem;
    margin: 5px 0 0 0;
    padding: 0 1rem;
  }
}
